<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    
    <% if(currentUser){ %>
        <a href="/auth/log-out">Log out</a>
        <a href="/upload">Upload</a>
        <h1>Hola <%= currentUser.name %></h1>
        <% } else { %>
        <a href="/auth/log-in">Inicia sesion</a>
        <a href="/auth/sign-up">Crea una cuenta</a>
        <h1>Hola invitado</h1>
    <% } %>
</body>
</html>