<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../public/css/aside.css">
</head>
<body>
    <%- include("aside") %>
    
    <form action="/auth/sign-up" method="post">
        <div class="form-field">
            <label for="name">Name</label>
            <input name="name" id="name" type="text">
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input name="email" id="email" type="email">
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
        </div>

        <button type="submit">Sign up</button>
    </form>

    <a href="/auth/log-in">Log in</a>
</body>
</html>