<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="../../public/css/aside.css">
</head>
<body>
    <%- include("aside") %>

    <main>
        <h1>Upload files</h1>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="myFile">

            <select name="folderId">
                <% allUserFolders.forEach((folder) => { %>
                    <option value="<%= folder.id %>"><%= folder.name %></option>
                <% }) %>
            </select>

            <button type="submit">Upload</button>
        </form>

        <a href="/">Go back</a>
    </main>
</body>
</html>